<!-- 安装html-loader -->
<title>加载中...</title>
<meta charset="UTF-8">
<!-- <meta name="viewport"> -->
<!-- UC强制全屏 -->
<!-- <meta name="full-screen" content="yes"> -->
<!-- UC应用模式 会导致工具栏以及其他浏览器标题都不会显示 -->
<!-- <meta name="browsermode" content="application"> -->
<!-- UC强制竖屏 -->
<meta name="screen-orientation" content="portrait">
<!-- QQ强制竖屏 -->
<meta name="x5-fullscreen" content="true">
<!-- QQ应用模式 -->
<!-- <meta name="x5-page-mode" content="app"> -->
<!-- 不让百度转码 -->
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!-- 启用360极速模式 -->
<meta name="renderer" content="webkit">
<meta name="referrer" content="always">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta name="format-detection" content="telephone=no,email=no">
<meta name="HandheldFriendly" content="true">
<style media="screen" type="text/css">[v-cloak]{display: none;}</style>
<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">-->
